doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Login — My Grocery Buddy
    link(rel='stylesheet' href='/css/style.css')
  body
    form#loginPage.center(action='/api/auth/login'  method="POST")
      .card
        h2 🛒 Grocery List

        // General error at top
        if errors && errors.general
          p.error-message #{errors.general}

        // Username / Email
        input#loginUsername(
          type='text'
          name='username'
          placeholder='Username or Email'
          value=(formData && formData.username ? formData.username : '')
        )
        if errors && errors.username
          p.error-message #{errors.username}

        // Password
        input#loginPassword(
          type='password'
          name='password'
          placeholder='Password'
        )
        if errors && errors.password
          p.error-message #{errors.password}

        button#loginBtn(type='submit') Login

        p
          | Don’t have an account?
          a#showRegister(href='/register') Register
